<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>repeatedcode}}

      <div class="container pt-5">
        <h1 class="display-1 py-5" style="text-center">‘Sunny Days’</h1>
        <p class="display-2 py-5" style="font-size:2vw">Property Management is the foundation of our business. ‘Sunny Days’ is a mainland Property Management and Real Estate Services startup organization operating in the state of Florida.</p>
        <p class="display-2 py-5" style="font-size:2vw">We are highly motivated students with knowledge of the land business and property management. Our customers will be the retirement community, for which  we will provide a simple to understand, intuitive and secure web based inventory system, so that each resident with access to the software application can maintain an inventory of their personal tangible and household property.</p>
        <p class="display-2 py-5" style="font-size:2vw">Our administration business was established on the standards of diligent work, honesty, obligation, responsibility, and straightforwardness.</p>
        <p class="display-2 py-5" style="font-size:2vw">In business; ‘Sunny Days’ gives the promise of fast learning, and complex comprehension of the FL market to help you in managing your property.</p>
        <p class="display-2 py-5" style="font-size:2vw">At ‘Sunny Days’, we trust that by working intimately with our customers to recognize their individual needs and objectives we can convey better an incentive to their speculations with the certainty and security to rest guaranteed that their best advantages are served by a group of honest and hardworking team.</p>
        <p class="display-2 py-5" style="font-size:2vw">At ‘Sunny Days’ we take a gigantic measure of pride in an occupation well done and our customers’ objective accomplished. Call us! We anticipate working with you.</p>
        <p class="display-2 py-5" style="font-size:2vw">Sunny Days Team</p>
      </div>


</body>
</html>
