<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
     {{>usernav}}
     <div style="padding-top: 80px;">
      <h1>Authorized Family Members <br/></h1>
      <p> Authorized family members can access your account, be sure to only authorize members that you trust. <br> The website will not be responsible for any misuse of data.</p>
      <div class="row">
        <div class="col">
          <div class="card card-body">
            <button type="button" onclick="location.href='/addp';">Add Memeber</button>
            <br>
            <label for="name"><i class="fa-solid fa-magnifying-glass"></i> </label> 
            <input placeholder="Filter Property By Name" id="search" type="text" class="form-control">
          </div>
        </div>
      </div>
      <table class="table table-striped">
          <thead class="thead-dark table-Default">
          <tr class="bg-info">
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Relation</th>
              <th scope="col">Phone</th>
          </tr>
          </thead>
        <tbody id="myTable">
        </tbody>

      </table>

     </div>

<script type = "text/javascript" >
    var UserJson = {
        {
            {
                test
            }
        }
    }

document.getElementById('name').innerHTML = UserJson.firstname + ", " + UserJson.lastname;

var houseAr = UserJson.House;


$('#search').on('keyup', function () {
    var value = $(this).val();
    console.log('Value:', value);
    var data = searchdata(value, houseAr)
    buildTable(data)
})




buildTable(houseAr)

function searchdata(value, data) {
    var filterdata = []

    for (var i = 0; i < data.length; i++) {
        value = value.toLowerCase();
        var name = data[i].name.toLowerCase();
        if (name.includes(value)) {
            filterdata.push(data[i])
        }
    }


    return filterdata;
}

function buildTable(data) {
    var table = document.getElementById('myTable')

    table.innerHTML = ''

    for (var i = 0; i < data.length; i++) {

        if (data[i].cost == null || data[i].cost == undefined) {
            data[i].cost = "";
        }
        var row = `<tr>
                <td>${data[i].name}</td>
                <td>${data[i].address}</td>
                <td>${data[i].picture}</td>
                <td>${data[i].video}</td>
                <td>${data[i].cost}</td>
                </tr>`
        table.innerHTML += row

    }

}
</script>
</body>
</html>
