<style>
.img{
  display: block;
  margin: 0 auto;
  padding: 10%;
}


</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>repeatedcode}}

      
        <img class="img" src="https://i.ibb.co/wRsWgDn/sunny-days-search-logo.png" width="600" height="600">
        <h1 class="text-center"> Welcome to Sunny Days</h1>
        <h3 class="text-center">One place to manage all your properties</h3>
      
    

</body>
</html>