<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>repeatedcode}}

      <div class="banner">
        <img  class=".text-center" src="https://i.ibb.co/rFZnMd0/tierra-mallorca-rg-J1-J8-SDEAY-unsplash.jpg" alt="tierra-mallorca-rg-J1-J8-SDEAY-unsplash" border="0">
        <h1 class="display-1 py-5">Welcome to Sunny Days</h1>
        <p class="display-2 py-5">One place to manage all your properties</p>
      </div>
    

</body>
</html>