<style>
	.hidden{
        display:none;
    }

    .result{
    	max-width:80px; 
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
     {{>usernav}}
     <div style="padding-top: 80px;">
      <h1>Welcome, <br/></h1>
      <h1 id="name"></h1>
      

      <div class="row">
        <div class="col">
          <div class="card card-body">
            <button type="button" onclick="location.href='/addp';">Add Property</button>
            <br>
            <label for="name"><i class="fa-solid fa-magnifying-glass"></i> </label> 
            <input placeholder="Filter Property By Name" id="search" type="text" class="form-control">
          </div>
        </div>
      </div>
      <table class="table table-striped">
          <thead class="thead-dark table-Default">
          <tr class="bg-info">
              <th scope="col">House Name</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th scope="col">Pictures</th>
              <th scope="col">Videos</th>
              <th scope="col">Cost</th>
              <th scope="col">description</th>
              <th scope="col">Options</th>
          </tr>
          </thead>
        <tbody id="myTable">
        </tbody>

      </table>

     </div>

<script type="text/javascript">
  var UserJson = {{{test}}}

  document.getElementById('name').innerHTML = UserJson.firstname + ", " + UserJson.lastname;

	var houseAr = UserJson.House;

  var len = 0;
  $('#search').on('keyup', function(){
    var value = $(this).val();
    console.log('Value:', value);
    var data = searchdata(value, houseAr)
    buildTable(data)
  })

  


	buildTable(houseAr)

  function searchdata(value, data){
    var filterdata = []

    for(var i =0; i < data.length; i++){
      value = value.toLowerCase();
      var name = data[i].name.toLowerCase();
      if(name.includes(value)){
        filterdata.push(data[i])
      }
    }


    return filterdata;
  }

	function buildTable(data){
		var table = document.getElementById('myTable')
    
    table.innerHTML = ''
    len = data.length;
		for (var i = 0; i < data.length; i++)
    {

			if(data[i].cost == null || data[i].cost == undefined){
        data[i].cost = "";
      }
      if(data[i].description == null || data[i].description == undefined){
        data[i].description = "";
      }
      if(data[i].city == null || data[i].city == undefined){
        data[i].city = "N/A";
      }
      if(data[i].state == null || data[i].state == undefined){
        data[i].state = "N/A";
      }
      var row = `<tr>
							<td>${data[i].name}</td>
							<td>${data[i].address}</td>
              <td>${data[i].city}</td>
              <td>${data[i].state}</td>
							<td>${data[i].picture}</td>
              <td>${data[i].video}</td>
              <td>${data[i].cost}</td>
              <td>${data[i].description}</td>
              <td>
              <button class="btn btn-sm btn-danger" data-testid="${data[i]._id}" id="delete-${data[i]._id}">Delete</button>
              </td>
					  </tr>`
			table.innerHTML += row
		}  
  }


  for (var i = 0; i < houseAr.length; i++){
  $(`#delete-${houseAr[i]._id}`).on('click', deleteTest)
  }




	function deleteTest(){
		var testid = $(this).data('testid')
    console.log(testid)
    var txt;
    var r = confirm("Are you sure you want to DELETE this?");
    if (r === true) {
      txt = "Yes";
      
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/user", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            id: testid
        }));
        alert("You can only delete one property at a time for your account security log back in.");
        window.location.replace("/");



    } else {
      txt = "NO!";
    }
      }

</script>
</body>
</html>
