{{!-- <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Profile</title>

</head>
<body></body>   
   <!-- navbar -->
 <header class="site-header">
  <navbar id="navbar-spy" class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top ">
    <!-- <i class="fas fa-terminal"></i> -->
    <div class="container ">
      <div class="navbar-brand">
        <a href="/home" class="navbar-brand"><i class="fas fa-home fa-1x"></i></a>
        <a href="#" class="h4 myname text-light text-decoration-none">Sunny Days</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
        aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <!-- mb-2 mb-lg-0   mb-lg-0-->
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item"><a href="/aboutus" class="nav-link "> About us</a></li>
          <li class="nav-item"><a href="/" class="nav-link "> Login</a></li>
          <li class="nav-item"><a href="/register" class="nav-link "> Sign Up</a></li>
        </ul>
      </div>
    </div>
  </navbar>
</header>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>    --}}


<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <header class="site-header">
    <navbar id="navbar-spy" class="navbar navbar-expand-lg navbar-light bg-success fixed-top  ">
      <!-- <i class="fas fa-terminal"></i> -->
      <div class="container ">
        <div class="navbar-brand">
          
          <a href="/" class="navbar-brand "><i class="fa-solid fa-house-circle-check text-light"></i></a>
          <a href="/" class="h4 myname link-light">Sunny Days<span class="console-cursor">_</span></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <!-- mb-2 mb-lg-0   mb-lg-0-->
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item "><a href="/home" class="nav-link" aria-current="page">Home </a></li>
            <li class="nav-item"><a href="/" class="nav-link ">Login</a></li>
            <li class="nav-item"><a href="/aboutus" class="nav-link ">About us</a></li>
            <li class="nav-item"><a href="/register" class="nav-link ">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </navbar>
  </header>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://kit.fontawesome.com/6335c5a211.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>